{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
    <title>{% block title %}Home{% endblock title %} - Bulletin Board</title>
</head>
<body>

    <header>
        <h1>Ads</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'add' %}">Create Ad</a>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </nav>
    <section>
    {% block content %}
    {% endblock content %}
    </section>
    
</body>
</html>